.button { 
    -fx-border-color: black; 
    -fx-border-radius: 10; 
    -fx-border-width: 3; 
    -fx-background-color: white; 
} 
.button:hover { 
    -fx-border-radius: 7; 
    -fx-background-color: black; 
    -fx-text-fill: white; 
}